@font-face {
  font-family: "GilroyBold";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GilroyBoldItalic";
  src: url("../fonts/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroyExtraBoldItalic";
  src: url("../fonts/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroyHeavy";
  src: url("../fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroyHeavyItalic";
  src: url("../fonts/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroyLightItalic";
  src: url("../fonts/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroyMedium";
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroyMediumItalic";
  src: url("../fonts/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroyRegular";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroyRegularItalic";
  src: url("../fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroySemiBold";
  src: url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroySemiBoldItalic";
  src: url("../fonts/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroyThin";
  src: url("../fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroyThinItalic";
  src: url("../fonts/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroyUltraLight";
  src: url("../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: "GilroyUltraLightItalic";
  src: url("../fonts/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GilroyBold";
  src: url("../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GilroyBold";
  src: url("../fonts/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@media (max-width: 1024px) {
  .img-main {
    width: 100%;
  }
  .hd-txt1 {
    font-size: 24px;
    width: 22rem;
    line-height: 1.3;
    margin-top: 5rem;
  }
  .para-txt2 {
    font-size: 10px;
  }

  .btn {
    white-space: nowrap;
    font-size: 14px;
    color: #FFFFFF; 
    padding: 10px 70px;  
  }

  .wts{
    display: none;
  }

  .knw{
    border: 4px solid #A0AF4C;
    background: #00000000;
  }
}

@media (max-width: 768px) {
  .img-main {
    width: 100%;
  }
  .hd-txt1 {
    font-size: 24px;
    width: 22rem;
    line-height: 1.3;
    margin-top: 5rem;
  }
  .para-txt2 {
    font-size: 10px;
  }
  .buttons1 {
    flex-direction: column;
  }

  .btn {
    white-space: nowrap;
    font-size: 14px;
    color: #FFFFFF; 
    padding: 10px 70px;  
  }

  .wts{
    display: none;
  }

  .knw{
    border: 4px solid #A0AF4C;
    background: #00000000;
  }
  
}

@media (max-width: 768px) {

  .container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* background-color: #F2FDF5; */
  }

  .hm-bg-img {
    display: none;
  }

  .hm-bg-img-mob {
    width: 100% !important;
    height: auto;
    display: block;
  }

  .hm-img-text img {
    width: auto;
    height: 464px;
  }

  .hm-img-text h1 {
    width: 90%;
    font-size: 24px;
    font-family: "GilroySemiBold";
  }

  .hm-img-text p {
    width: 100%;
    font-size: 10px;
    left: 50%;
    font-family: "GilroyRegular";
  }

  .visited-text, .text-or {
    display: none;
  }

  .buttons1 {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  .btn {
    display: flex;
    justify-content: center;
    font-size: 14px !important;
    color: white;
    width: 100%;
    text-align: center;
    font-family: "GilroySemiBold";
    padding: 0.3rem 0.5rem !important;
  }

  .wts {
    display: none;
  }

  .knw {
    border: 3px solid #A0AF4C;
    background: transparent;
  }  

  /* Our Products Section */
  
  .products-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-left: 24px;
    margin-right: 24px;
    /* background-color: #F2FDF5; */
  }

  .products-title {
    width: 50%;
    font-size: 24px;
    margin-right: 16.5rem;
    margin-top: 1.5rem;
    margin-left: 4.5rem;
    font-family: "GilroySemiBold";
  }

  .product-item{
    margin-right: 10.5rem;
    gap: 20px;
    margin-bottom: -4rem;
  }

  .product-img{
    width: 180px;
    height: auto;
    margin-left: 8em;
  }

  .product-content {
    margin-bottom: 50px;
  }

  .product-content h3{
    font-size: 16px;
    width: 175px;
    font-family: "GilroySemiBold";
  }

  .product-content p{
    width: 175px;
    font-size: 12px;
    margin-right: 2rem;
    line-height: 1.5;
    font-family: "GilroyRegular";
  }

  .plant-section {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: space-between;
    margin-right: 10rem;
    margin-top: 2rem;
    gap: 30px;
  }

  .product-content {
    order: 2;
  }

  .para-txtre{
    display: none;
  }

  .buttons {
    padding-right: 5rem;
  }
  
  .learn-more{
    display: none;
  }

  .buy-hg {
    width: 65%;
  }

  /* Third Section (Plant Care Guide) */

  .plt-1 {
    width: 90%;
    font-size: 24px;
    font-family: "GilroySemiBold";
    margin-left: -0.1rem !important;
  }

  .plt-care {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
  }

  .plt-care1, .plt-care2 {
    width: 100%;
    border: 1px solid black;
    height: auto;
    padding-bottom: 30px;
    /* margin-right: 5.5rem; */
  }

  .plt-care-img1 img, .plt-care-img2 img {
    width: 100%;
    height: auto;
  }

  .plt-care-para1 p, .plt-care-para2 p {
    font-size: 14px;
    line-height: 1.5;
    font-family: "GilroyRegular";
  }

  .plt-care-btn1 button, .plt-care-btn2 button{
    width: 60%;
    padding: 8px 15px;
    font-size: 25px;
    font-family: "gilroyregular";
  }

  /* About Us */


  .about-page {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem !important;
  }

  .header-image, .footer-image, .About_Pot, .About_plant {
    width: 100%px;
    height: 195px;
  }

  .footer-image {
    margin-bottom: 5rem;
  }

  .image-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: -2rem;
  }

  .section, .abt-mission {
    text-align: justify;
    padding: 10px;
  }

  .section h2, .content-grid h2 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: -0.3rem;
    text-align: left;
    font-family: "GilroyMedium";
  }

  .section p, .content-grid p {
    width: 342px;
    line-height: 1.4;
    font-size: 12px;
    padding-top: 1px;
    margin-left: -0.9rem;
    font-family: "GilroyRegular";
  }

  .content-grid {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .About_plant {
    display: none;
  }

  .Plant {
    display: block;
    margin-top: 1rem;
  }

/* Contact us*/

*{
  margin: 0;
  padding: 0;
}

  .contact-container{
    margin: 0;
    padding: 0;
    display: flex;
    width: 80%;
    align-items: center;
    background-color: #FFFFFF;
  }

  .contact-head {
    display: block;
    font-size: 32px;
    font-family: "GilroySemiBold";
    margin-top: 20%;
    text-align: center;
    margin-left: 25%;
  }

  .contact-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: none;
    margin-left: 25%;
  }

  .contact-form{
    width: 100%;
    padding: 20px;
    background-color: white;
  }

  .contact-form label {
    font-size: 14px;
    font-family: "gilroyregular";
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }

  .submit-btn {
    background-color: #A0AF4C;
    color: black;
    font-size: 14px;
    font-family: "gilroyregular";
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: #919d4e;
  }

  .contact-map {
    width: 100%;
    margin-top: 2.5rem;
    
  }

  .contact-map iframe {
    width: 100%;
    height: 18rem;
  }

  .contact-address{
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    margin-top: 50%;
    margin-left: 25%;
  }

  .contact-address div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 15px;
    gap: 3rem;
  }

  .contact-address svg {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
  }

  .contact-add,
  .contact-phone,
  .contact-timing {
    font-size: 14px;
    font-family: "gilroymedium";
    width: 90%;
    text-align: left;
  }

  .contact-add {
    margin-bottom: -1rem !important;
  }

  .contact-timing {
    width: 12rem;
    line-height: 1.5;
    margin-top: 0.5rem;
  }

  /* Our Services */

  .img-0 { width: 100%; height: 320px; }
  .img-1 { width: 100%; height: 470px; }
  .img-2 { width: 100%; height: 520px; }
  .img-3 { width: 100%; height: 620px; }
  .img-4 { width: 100%; height: 790px; }

  .services-container {
    margin-left: 24px;
    margin-right: 24px;
  }

  .service-header {
    display: block;
    font-size: 32px;
    font-family: "gilroysemibold";
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .service-title {
    font-size: 24px;
    font-family: "gilroysemibold";
  }

  .service-img {
    filter: brightness(40%);
  }

  .service-description {
    font-size: 18px;
    font-family: "gilroyregular";  
  }

  .know-more {
    display: none;
  }

}
