@media (max-width: 1024px) {
  .img-main {
    width: 100%;
  }
  .hd-txt1 {
    font-size: 24px;
    width: 22rem;
    line-height: 1.3;
    margin-top: 5rem;
  }
  .para-txt2 {
    font-size: 10px;
  }

  .btn {
    white-space: nowrap;
    font-size: 14px;
    color: #FFFFFF; 
    padding: 10px 70px;  
  }

  .wts{
    display: none;
  }

  .knw{
    border: 4px solid #A0AF4C;
    background: #00000000;
  }
}

@media (max-width: 768px) {
  .img-main {
    width: 100%;
  }
  .hd-txt1 {
    font-size: 24px;
    width: 22rem;
    line-height: 1.3;
    margin-top: 5rem;
  }
  .para-txt2 {
    font-size: 10px;
  }
  .buttons1 {
    flex-direction: column;
  }

  .btn {
    white-space: nowrap;
    font-size: 14px;
    color: #FFFFFF; 
    padding: 10px 70px;  
  }

  .wts{
    display: none;
  }

  .knw{
    border: 4px solid #A0AF4C;
    background: #00000000;
  }
}

@media (max-width: 480px) {
  .img-main {
    width: 100%;
  }
  .hd-txt1 {
    font-size: 24px;
    width: 22rem;
    line-height: 1.3;
    margin-top: 5rem;
  }
  .para-txt2 {
    font-size: 10px;
  }
  .btn {
    white-space: nowrap;
    font-size: 14px;
    color: #FFFFFF; 
    padding: 10px 70px;  
  }

  .wts{
    display: none;
  }

  .knw{
    border: 4px solid #A0AF4C;
    background: #00000000;
  }
}
