.footer {
    /* width: auto; */
    height: 400px;
    display: flex;
    align-items: center;
    background-color: #29C389;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
  }

  .footer-logo img{
    width: auto;
    height: 250px;
    margin: 5em;
  }
  
  .footer-links, .footer-social {
    margin: 10px 0;
  }

  .Link-txt{
    margin-bottom: 25px;
  }
  
  .footer-links {
    color: #0b0b0b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    gap: 20px;
    text-align: center;
    margin-right: 150px;
  }

  .Help-txt{
    margin-bottom: 25px;
  }
  

  .footer-help{
    color: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    gap: 20px;
    text-align: center;
    margin-right: 150px;
  }


  .Follow-txt{
    margin-bottom: 125px;
    display: flex;
    flex-direction: column;
  }


  .footer-social{
    color: #151414;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    text-align: center;
  }

  