.header {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #293a21; 
  position: relative;
}

/* Logo */

.logo-img {
  width: 70px; 
}

/* Navigation Links */

.nav-links {
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 1000;
}

.sections {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.sections:hover {
  color: #ddd;
}

/* WhatsApp Button 
.whatsapp-btn img {
  width: 40px;
} */
