@font-face {
  font-family: "GilroyMedium";
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.header {
  width: auto;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: #293a2190;
  /* opacity: 0.56; */
  position: relative;
  gap: 20px;
  /* z-index: 9999; */
}

/* Logo */

.logo-text {
  position: absolute;
  left: 5rem;
}

.logo-img {
  width: auto; 
  height: 80px;
}

/* Navigation Links */

.nav-links {
  display: flex;
  gap: 12px;
  position: relative;
  z-index: 1000;
}

.sections {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family: "GilroyMedium";
}

.sections:hover {
  color: white;
  text-decoration: underline;
}

.divider {
  color: white; 
  font-size: 24px;
  font-family: "GilroyMedium";
}

.whatsapp-container {
  width: 122px;
  height: 43px;
  position: absolute;
  right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.whatsapp-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #a0af4c;
  border-radius: 30px;
  padding: 2px 10px;
  position: relative;
}

.whatsapp-text {
  color: white;
  font-size: 14px;
  padding: 5px 20px;
  padding-left: 5px;
  font-family: "GilroyMedium";
}

.whatsapp-icon {
  width: 35px;
  height: 35px;
  background-color: #ffeddf;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -10px;
}

.whatsapp-icon img {
  width: 43px;
  height: 43px;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

