.header {
  width: auto;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: #293a2190; 
  position: relative;
  gap: 20px;
}

/* Logo */

.logo-text {
  position: absolute;
  left: 5rem;
}

.logo-img {
  width: auto; 
  height: 80px;
}

/* Navigation Links */

.nav-links {
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 1000;
}

.sections {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sections:hover {
  color: #c0bfbf;
}

.divider {
  color: white; 
}

/* .whatsapp-btn {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a0af4c;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
}

.whatsapp-btn img {
  width: 30px;
  height: 30px;
} */

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

