  @media screen and (max-width: 768px) {

    .header {
      background-color: none;
    }

    .logo-img {
      width: 62px;
      height: 59px;
      margin-left: -3.5rem;
    }

    .nav-links {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #F2FDF5;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      display: none;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links a,
    .nav-links a:visited,
    .nav-links a:focus,
    .nav-links a:active {
      padding: 8px 0;
      color: black !important;
      display: block;
      font-size: 24px;
      font-family: "gilroyregular";
      text-decoration: none;
    }
  
    .divider {
      display: none;
    }
  
    .menu-icon {
      display: flex;
    }

    .menu-icon .bar {
      width: 25px;
      height: 3px;
      background-color: black;
      margin: 5px 0; 
    }

    .whatsapp-text {
      display: none;
    }

    .whatsapp-icon {
      position: fixed;
      bottom: 30px; 
      right: 30px; 
      padding: 11.72px; 
      z-index: 1000;
      width: 56px;
      height: 56px;
    }

    .whatsapp-icon img {
      width: 80px;
      height: 80px;
      position: fixed;
    }
  }

  @media screen and (max-width: 768px) {
      
    /* footer */

    .footer {
      display: flex;
      flex-direction: column;
      width: fit-content;
    }

    .visit-text, .or-text, .order-btn, .contact-btn{
      display: none;
    }

    .yellow-box{
      width: 9em;
      margin-bottom: 20em;
    }

    .footer-banner img{
      width: auto;
      height: 15em;
    }

    .footer-text{
      font-size: 16px !important;
      color: aliceblue !important;
    }

    .footer-logo img{
      width: 8rem !important;
      height: 8rem !important;
    }

    .footer-banner {
      height: 80px;
      padding: 0 !important;
      margin-top: -3.7rem !important;
      z-index: 1000;
    }

  }
    