@media (max-width: 768px) {

    .logo-text {
      left: 4%;
    }

    .logo-text img {
      width: 3.8rem;
      height: 3.6rem
    }

    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: white;
      padding: 10px 0;
      text-align: center;
    }
  
    /* Show nav when menu is open */
    .nav-links.open {
      display: flex;
    }
  
    /* Each nav item styling */
    .sections {
      display: block;
      padding: 10px;
      font-size: 18px;
      color: black;
      text-decoration: none;
    }

    .sections:hover {
      color: #3f3e3e;
    }

    .divider {
      display: none;
    }
  
    /* Burger menu */
    .menu-icon {
      display: flex;
    }
  
    .bar {
      width: 25px;
      height: 3px;
      background-color: black;
      margin: 4px 0;
    } 

    /* .whatsapp-btn {
      right: 20px;
    } */
  }